
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


body {
    font-family: 'Nunito Sans' !important;
    background: #232323;
}

.offcanvas-body {
    overflow-y: hidden !important;
}

.navbar-toggler-icon {
    border: 0;
}

#offcanvasNavbarLabel {
    font-weight: 600;
}

.offcanvas-body .nav-link:hover {
    color: #3A93FD !important;   
}

.img_logo {
    height: 400% !important;
}

.card {
    background-color: #D9D9D9;
    border: 0;
}

.button_logout {
    background: transparent !important;
    border: 0;
    color: rgb(255, 255, 255);
}

.button_logout:hover {
    background: transparent !important;
    border: 0;
    color: #3A93FD;
}

.h2_quantidade_itens, .h4_quantidade_itens {
    color:#ffffff;
}

.card_head {
    background-color: #3A93FD;
}


