
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


body {
    font-family: 'Nunito Sans' !important;
    background: #232323;
}

.offcanvas-body {
    overflow-y: hidden !important;
}

.navbar-toggler-icon {
    border: 0;
}

#offcanvasNavbarLabel {
    font-weight: 600;
}

.offcanvas-body .nav-link:hover {
    color: #3A93FD !important;   
}

.img_logo {
    height: 400% !important;
}

.col-auto .link-light:hover {
    color: #3A93FD !important;
    animation: all;
    transition: 0.3s;
}

.background_filter {
    background-color: #393838; 
    border-radius: 0.5rem;

}

.background_avaliacao {
    background-color: #e2e2e2 !important;
}

.button_logout {
    background: transparent !important;
    border: 0;
    color: rgb(255, 255, 255);
}

.button_logout:hover {
    background: transparent !important;
    border: 0;
    color: #3A93FD;
}
